p, span, div{
  font-family: $quattrocento;
}

p a {
    text-decoration: underline;
}

strong {
    font-family: $quattrocento;
}


// quattrocento regular
@font-face {
    font-family: 'quattrocento';
    src: url('@~fonts/quattrocento-regular/quattrocento-regular.eot');
    src: url('@~fonts/quattrocento-regular/quattrocento-regular.eot?#iefix') format('embedded-opentype'),
         url('@~fonts/quattrocento-regular/quattrocento-regular.woff2') format('woff2'),
         url('@~fonts/quattrocento-regular/quattrocento-regular.woff') format('woff'),
         url('@~fonts/quattrocento-regular/quattrocento-regular.ttf') format('truetype'),
         url('@~fonts/quattrocento-regular/quattrocento-regular.svg#fs_lolaregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

// quattrocento regular
@font-face {
    font-family: 'frank';
    src: url('@~fonts/frankruhllibre-bold/frankruhllibre-bold.eot');
    src: url('@~fonts/frankruhllibre-bold/frankruhllibre-bold.eot?#iefix') format('embedded-opentype'),
         url('@~fonts/frankruhllibre-bold/frankruhllibre-bold.woff2') format('woff2'),
         url('@~fonts/frankruhllibre-bold/frankruhllibre-bold.woff') format('woff'),
         url('@~fonts/frankruhllibre-bold/frankruhllibre-bold.ttf') format('truetype'),
         url('@~fonts/frankruhllibre-bold/frankruhllibre-bold.svg#fs_lolaregular') format('svg');
    font-weight: 600;
    font-style: normal;
}
