.wp-editor {
  * {
    word-break: break-word;
  }

  h1, h2, h3 {
    @include useFont('headline-small');
    color: $black;
    margin-bottom: 2.25rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h4, h5, h6 {
    @include useFont('subheadline-medium');
    color: $black;
    margin-bottom: 0.75rem;
    display: block;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    @include useFont('text-large');
    color: $grayDark;
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      opacity: 1;
      @include transition([all]);
      @include screenMoreThan(sm) {
        &:hover {
          opacity: .8
        }
      }
    }
  }

  strong {
    @include useFont('text-large');
    color: $grayDark;
    font-family: $truenoBold;;
  }

  ul:not(.list--brands) {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    li {
      margin-bottom: .75rem;
      padding-left: 2.25rem;
      @include useFont('text-large');
      position: relative;
      color: $grayDark;

      &:before{
        @include beforeSymbol(0.15625rem, 0.15625rem, .5rem, auto, auto, 0.75rem , $grayDark, 50%);
      }

      @include screenLessThan(md) {
        font-size: 1rem;
        line-height: 1.1875rem;
      }
    }
  }

  ul.list--brands {
    li {
      display: inline-block;
    }
  }
}


#legal .wp-editor {
  h1, h2, h3 {
    @include useFont('headline-medium');
    color: $black;
  }

  h4, h5, h6 {
    @include useFont('subheadline-large');
    color: $black;
  }
}
