include ./../../mixins/image

-var data = $texts.IMAG3_2

section.section.section--viewport#imag3-2
  #step1.grid.grid--column.grid--jc-middle.grid--ai-middle.grid--full-height
    article
      figure
        img(data-src=data.step1.src data-hover=data.step1.hover)
    canvas#stage

      
