doctype html
html(lang='en', dir='ltr')
  head
    include ./../common/head
  body(id="home")
    .main
      .main__wrapper
        include ./../common/navbar
        include ./../modules/imag3-2/imag3-2-content
        include ./../common/footer
    include ./../common/scripts

      
