
#imag3-2 {
  #step1 {
    article {
      padding-top: 35vw;
      width: 25vw;
      background: $purple;
      position: relative;

      figure {
        @include pos(absolute, 0, auto, auto, 0);
        @include size(100%, 100%);

        img {
          @include size(100%, 100%);
        }
      }
    }

    canvas {
      @include pos(fixed, 0, auto, auto, 0);
      @include size(100%, 100vh);
      z-index: 9;
    }
  }
}
