include ./../../mixins/image

-var data = $texts.DRAG_1

section.section.section--viewport#drag-1
  .grid.grid--column.grid--jc-middle.grid--ai-middle.grid--full-height
    .strip-outer
      .strip-inner
        .draggable
        .strip
          for item in data.items
          .strip__item
            +image(item.path, 'cover')

        
