//buttons types
$btnSet: (
  mainBlackBtn: (
    type: subheadline-small,
    color: $white,
    padding: 1rem 1.5rem,
    background-color: $black,
    border: 0.125rem solid $black,
    border-radius: 0,
    box-shadow: none,
    width: auto,
    type-hover: subheadline-small,
    color-hover: $black,
    background-color-hover: transparent,
    border-hover: 0.125rem solid $black,
    border-radius-hover: 0,
    box-shadow-hover: none,
    display: inline-block
  ),
  ghostWhiteBtn: (
    type: subheadline-small,
    color: $white,
    padding: 1rem 1.5rem,
    background-color: transparent,
    border: 0.125rem solid $white,
    border-radius: 0,
    box-shadow: none,
    width: auto,
    type-hover: subheadline-small,
    color-hover: $black,
    background-color-hover: $white,
    border-hover: 0.125rem solid $white,
    border-radius-hover: 0,
    box-shadow-hover: none,
    display: inline-block
  ),
  secondaryOrangeBtn: (
    type: text-small,
    color: $white,
    padding: 0.75rem,
    background-color: $orange,
    border: 0.125rem solid $orange,
    border-radius: 0,
    box-shadow: none,
    width: auto,
    type-hover: text-small,
    color-hover: $white,
    background-color-hover: $black,
    border-hover: 0.125rem solid $black,
    border-radius-hover: 0,
    box-shadow-hover: none,
    display: inline-block
  )
)
