//buttons types
$btnSet: (
  mainBlackBtn: (
    type: text-medium,
    color: $white,
    padding: 1rem 1.5rem,
    background-color: $black,
    border: 0.125rem solid $black,
    border-radius: 0,
    box-shadow: none,
    width: auto,
    type-hover: text-medium,
    color-hover: $black,
    background-color-hover: transparent,
    border-hover: 0.125rem solid $black,
    border-radius-hover: 0,
    box-shadow-hover: none,
    display: inline-block
  )
)
