$white: #FFFFFF;
$black: #12212B;
//
$cream: #fffcf2;
$purple: #9a87bb;
$blue: #194673;
$blueLight: #406a9d;
$blueDark: #002642;
//

//
$colorSet: (
  white: $white,
  black: $black,
  blueLight: $blueLight,
  blue: $blue,
  blueDark: $blueDark,
  purple: $purple,
  cream: $cream,
);

$gradientSet: (

)
