//---- Families
$quattrocento: 'quattrocento', sans-serif;
$frank: 'frank', sans-serif;

//---- Types

$typeSet:(
  //headline
  headline-medium:(
    font-family: $frank,
    font-size: 1.5rem,
    line-height: 1.8125rem,
    letter-spacing: initial,
    font-weight: 600,
    text-transform: none,
    font-size-sm: 1.5rem,
    line-height-sm: 1.8125rem,
    letter-spacing-sm: initial,
    font-size-xs: 1.5rem,
    line-height-xs: 1.8125rem,
    letter-spacing-xs: initial
  ),
  //text
  text-medium:(
    font-family: $quattrocento,
    font-size: 0.875rem,
    line-height: 1.0625rem,
    letter-spacing: initial,
    font-weight: 300,
    text-transform: none,
    font-size-sm: 0.875rem,
    line-height-sm: 1.25rem,
    letter-spacing-sm: initial,
    font-size-xs: 0.875rem,
    line-height-xs: 1.25rem,
    letter-spacing-xs: initial
  )
)
